<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.stusys.dao.MajorMapper" >
  <resultMap id="BaseResultMap" type="com.stusys.pojo.Major" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="major_id" property="majorId" jdbcType="INTEGER" />
    <result column="department_id" property="departmentId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="introductions" property="introductions" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="DetailPlusMap" type="com.stusys.dto.MajorDto" extends="BaseResultMap">
    <association property="departmentName" select="com.stusys.dao.DepartmentMapper.selectName" column="department_id" fetchType="eager"></association>
  </resultMap>
  <sql id="Base_Column_List" >
    id, major_id, department_id, name, introductions, create_time
  </sql>
  <select id="selectName" resultType="String" parameterType="java.lang.Integer" >
    select name
    from major
    where major_id = #{majorId}
  </select>
  <select id="selectAllBase" resultMap="BaseResultMap">
    select major_id,name,introductions
    from major
  </select>
  <select id="selectByMajorId" resultMap="DetailPlusMap">
    select
    <include refid="Base_Column_List" />
    from major
    where major_id = #{majorId}
  </select>



  <update id="updateByMajorIdSelective" parameterType="com.stusys.pojo.Major" >
    update major
    <set >
      <if test="departmentId != null" >
        department_id = #{departmentId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="introductions != null" >
        introductions = #{introductions,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where major_id = #{majorId}
  </update>





  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from major
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from major
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.stusys.pojo.Major" >
    insert into major (id, major_id, department_id, 
      name, introductions, create_time
      )
    values (#{id,jdbcType=INTEGER}, #{majorId,jdbcType=INTEGER}, #{departmentId,jdbcType=INTEGER}, 
      #{name,jdbcType=VARCHAR}, #{introductions,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.stusys.pojo.Major" >
    insert into major
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="majorId != null" >
        major_id,
      </if>
      <if test="departmentId != null" >
        department_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="introductions != null" >
        introductions,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="majorId != null" >
        #{majorId,jdbcType=INTEGER},
      </if>
      <if test="departmentId != null" >
        #{departmentId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="introductions != null" >
        #{introductions,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.stusys.pojo.Major" >
    update major
    <set >
      <if test="majorId != null" >
        major_id = #{majorId,jdbcType=INTEGER},
      </if>
      <if test="departmentId != null" >
        department_id = #{departmentId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="introductions != null" >
        introductions = #{introductions,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.stusys.pojo.Major" >
    update major
    set major_id = #{majorId,jdbcType=INTEGER},
      department_id = #{departmentId,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      introductions = #{introductions,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>